{{ define "main" }}
  <div class='hx-flex'>
    {{/* partial "utils/page-width" . */}}
    {{/* partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) */}}
    <!-- dummies for these to prevent JS errors -->
    <div class="mobile-menu-overlay hx-hidden"></div>
    <div class="sidebar-container hx-hidden"></div>
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full">
        {{ if .Title }}<h1 class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>{{ end }}
        {{ .Content }}
        <div class="hx-mt-16"></div>
        {{ partial "components/comments.html" . }}
      </main>
    </article>
  </div>
{{ end }}
