@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap";

table {
  /* Override absolutely insane display:block in hextra core style */
    display: table !important;
}

:root {
    --bs-body-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --navbar-height: 10rem;

    font-family: var(--bs-body-font-family)
}

.imerss-navbar-title {
    color: #FDF2CE;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.imerss-bg-neutral-50 {
    background-color: #ffffff80;
}

nav a span {
    color: #FDF2CE;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

nav a {
    position: relative;
}

.imerss-navbar {
    background: url("../../static/images/imerss-header-cropped.jpg") no-repeat;
    background-size: cover;
    height: 80px
}

/* Weird trick inherited from docsy for filtering background image */

.imerss-navbar::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #184E6280;
}

main {
    background-color: #184E62;
    color: #FDF2CE;
}

/** Override absolutely ridiculous tailwind hardcoded content colour **/
main .content h3 {
    color: #FDF2CE;
}

.imerss-navbar a {
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.imerss-navbar img {
    margin-right: 12px;
    margin-top: 8px;
}

.imerss-navbar span {
    margin-left: 16px;
}